*{
    margin: 0;
    padding: 0;

    
}

body{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
        
}
main {

    margin-top: 64px;
    align-items: center;
    text-align: center;

}
p{
    color: #cdcdcd;
    font-size: 15px;

}
h1{
    margin-top: 32px;
    font-family: 'Dosis', sans-serif;
    color: #3f3d56;
    
}
h1 span{
    color: #ee24ff;
}
body strong{
    color: #3f3d56;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
footer{
   
    margin-top: 64px;
    font-size: 15px;

}
footer a{

    text-decoration: none;
    color: #3f3d56;

}
footer .line{
    width: 391px;
    border: 1px #ECEFF2;
}
p span{
    color: #828282;
    
}